<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ReportMapper">
    <!--查询所有的报告-->
    <select id="queryAllReports" resultType="Report">
        select * from sedesign.report;
    </select>

    <!--上传一份报告-->
    <insert id="UploadAReport" parameterType="Report">
        insert into sedesign.report(TeamID,PublishTime,Title,Path)
        values (#{TeamID},#{PublishTime},#{Title},#{Path})
    </insert>

    <!--删除一份报告,根据报告id删除-->
    <delete id="deleteReport" parameterType="int">
        delete from sedesign.report
        where ReportID = #{ReportId}
    </delete>

    <!--根据文件名进行一次模糊查询,Title就是文件名-->
    <select id="queryReportByWord" resultType="Report">
        select * from sedesign.report
        where Title like CONCAT('%',#{word},'%')
    </select>

    <!--根据队伍的id查询报告-->
    <select id="queryReportsByTeamID" resultType="Report">
        select * from sedesign.report
        where TeamID = #{TeamID}
    </select>

    <!--根据报告id进行查询，主要用于下载时侯-->
    <select id="queryReportByID" resultType="Report">
        select * from sedesign.report
        where ReportID = #{ReportID}
    </select>

    <select id="queryReportByTitleAndPath" parameterType="Report" resultType="Report">
        select * from sedesign.report
        where Title = #{Title} and Path = #{Path}
    </select>

    <update id="updateReport" parameterType="Report">
        update sedesign.report
        set PublishTime = #{PublishTime},Title = #{Title},Path = #{Path}
        where ReportID = #{ReportID}
    </update>

    <!--根据教师id到team表和report表中查询报告-->
    <select id="queryReportByTeacherID" parameterType="String" resultType="Report">
        select ReportID,a.TeamID,PublishTime,Title,Path from sedesign.report as a,sedesign.team as b
        where TeacherID = #{TeacherID} and a.TeamID = b.TeamID
    </select>

    <select id="queryByTeaIdAndTitleWord" resultType="Report">
        select * from sedesign.team as a,sedesign.report as b
        where a.TeacherID = #{param1} and a.TeamID = b.TeamID and Title like CONCAT('%',#{param2},'%')
    </select>
</mapper>