<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置数据源-->
    <typeAliases>
        <package name="pojo"/>
    </typeAliases>

    <mappers>
        <mapper class="dao.UserMapper"/>
        <mapper class="dao.MaterialMapper"/>
    </mappers>


</configuration>